* {
  font-family: "Courier New", Courier, monospace;
}
body {
  margin: 0px;
  background-color: #111111;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.centerText {
  text-align: center;
}
.centerAbsolute{
  position: absolute;
  top: 0px;
  z-index: 99;
  left: auto;
  right: auto;
}
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title {
  font-size: 600%;
}
#mapWrapper {
  width: 100%;
  overflow:hidden;
}
#map {
  width: 100%;
}
main {
  height: 100%;
}
a {
  text-decoration: none;
  color: steelblue;
}
a:visited {
  color: steelblue;
}
.project {
  border: 1px solid #CCCCCC;
  margin-top: 20px;
}
.project:hover {
  color: #2a4e6c;
  border: none;
  border: 1px solid #888888;
}
.projectLink {
  display: block;
  width: 85%;
}
